.cards-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    background: linear-gradient(to right, #8e54e9, #4776e6);
    padding: 50px 0;
}

.cards-container > h2 {
    font-size: 100px;
    font-weight: 100;
    text-shadow: 5px 5px 5px black;
    line-height: 150px;
}

.cards-container > h2 span {
    background: linear-gradient(to right, #f7971e, #ffd200);
    padding: 10px;
}

.card {
    width: 70vw;
    max-width: 800px;
    max-height: 650px;
    border-radius: 1rem;
    overflow: hidden;
}

.card-top {
    height: 450px;
    position: relative;
    overflow: hidden;
}

.card-tag {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 2rem;
    background-color: #fff;
    padding: 5px 10px;
}

.card-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transform: scale(1);
    transition: transform 400ms;
}

.card-image:hover {
    transform: scale(1.4);
    transition: transform 400ms;
}

.card-bottom {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    padding: 0 2rem;
    text-align: center;
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    color: #f7971e;
}

@media screen and (max-width: 576px) {
    .cards-container > h2 {
        font-size: 20vw;
    }

    .card-top {
        height: 350px;
    }

    .card-bottom {
        font-size: 7vw;
        height: 150px;
    }

    .card {
        width: 90vw;
    }
}
