.navbar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    height: 75px;
    background: linear-gradient(to right, #7f00ff, #e100ff);
    z-index: 999;
}

.fa-bars,
.fa-xmark,
.fa-compass {
    font-size: 4rem;
    cursor: pointer;
    background: linear-gradient(#ada996, #f2f2f2, #dbdbdb, #eaeaea);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-menu {
    position: absolute;
    top: 75px;
    left: -100%;
    background: linear-gradient(to right, #7f00ff, #e100ff);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: left 300ms ease-out;
    height: 100vh;
}

.nav-menu.active {
    left: 0;
    transition: left 300ms ease-out;
    height: 100vh;
    font-size: 10vh;
}

.nav-item {
    width: 100%;
    text-align: center;
}

.nav-link {
    text-decoration: none;
    background: linear-gradient(to right, #c9d6ff, #e2e2e2);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-item:hover {
    background-color: #fff;
}

@media screen and (max-width: 576px) {
    .nav-menu.active {
        font-size: 15vw;
    }
}
