footer {
    background-color: #fff;
    height: 100vh;
    width: 100%;
    color: white;
}

.newsletter-container {
    height: 65vh;
    width: 100%;
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
}

.newsletter-container > h3 {
    font-size: 4rem;
    text-align: center;
}

.newsletter-container > form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.newsletter-container > form > input {
    width: 50vw;
    min-width: 300px;
    max-width: 500px;
    height: 50px;
    font-size: 2rem;
}

.newsletter-container > form > button {
    width: 200px;
    height: 50px;
    font-size: 2rem;
    background-color: white;
    border: none;
}

.information-container {
    height: 35vh;
    background-color: black;
    padding: 20px 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.information-container div {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
}

.information-container div > h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.information-container div a {
    text-decoration: none;
    color: snow;
    margin-bottom: 0.2rem;
}

@media screen and (max-width: 576px) {
    .information-container {
        height: fit-content;
        flex-direction: column;
        align-items: start;
    }

    .information-container div > h3 {
        font-size: 15vw;
        text-decoration: underline;
    }
    .newsletter-container {
        height: fit-content;
        padding: 20px 0;
    }

    .information-container div a {
        font-size: 10vw;
    }

    .information-container div a:last-child {
        margin-bottom: 30px;
    }
}
